@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@600;700&family=Rubik:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  height: 75vh;
  align-items: center;
}

img {
  height: 300px;
  width: 400px;
}

.images {
  display: flex;
  border: 2px solid black;
}

.bigContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 25px;
}

.imageContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.circles {
  display: flex;
  gap: 15px;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: transparent;
}

.active {
  background-color: black;
}

.image {
  height: 300px;
  width: 400px;
  overflow: hidden;
}

.left,
.right {
  height: 25px;
  width: 50px;
  font-size: 18px;
}

.start,
.stop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 60px;
  font-size: 18px;
  padding: 10px 35px;
  border-radius: 12px;
  cursor: pointer;
}
.startStop {
  display: flex;
  gap: 25px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 30px;
  border: 1px solid black;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  position: relative;
}

.items {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 10px;
  top: 150%;
  z-index: 10;
}

.hide {
  display: none;
}

.menu {
  height: 35px;
  width: 100px;
  font-size: 18px;
}
